.header-container {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 2fr 10rem;
  background-color: #2a52be;

  .social-icon {
    grid-column: 2/3;
    color: white;
    .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .contact-info {
    grid-column: 4/5;
    color: white;
    .contact {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
}
